# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
build/
.DS_Store

# IDE
.vscode/
.idea/

# Backend Data (Optional: keep if you want to ship data, ignore if huge)
*.db
# backend/sectors.json # Keep detailed data? Maybe.
# backend/today.json 

# Logs
*.log
